body {
    background-color: black;

}

h1 {
    color: white;
    text-align: center;
}

.ball {

    display: flex;

    width: 100px;
    height: 100px;

    transition-duration: 1s;
    border-radius: 50%;

    background-color: white;

    margin: 0 auto;

    cursor: pointer;

    justify-content: center;
    align-items: center;

    font-size: 22px;
    font-weight: bold;

}